S3_BUCKET_1=xxxxxx
S3_ACCESS_KEY_1=xxxxxx
S3_SECRET_KEY_1=xxxxxx
S3_REGION_1=xxxxxx

S3_BUCKET_2=xxxxxx
S3_ACCESS_KEY_2=xxxxxx
S3_SECRET_KEY_2=xxxxxx
S3_REGION_2=xxxxxx

S3_BUCKET_3=xxxxxx
S3_ACCESS_KEY_3=xxxxxx
S3_SECRET_KEY_3=xxxxxx
S3_REGION_3=xxxxxx

S3_BUCKET_4=xxxxxx
S3_ACCESS_KEY_4=xxxxxx
S3_SECRET_KEY_4=xxxxxx
S3_REGION_4=xxxxxx
